@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply overflow-x-hidden font-Poppins text-darkBlue;
  }
}

@layer components {
  .main-p {
    @apply text-sm font-light capitalize sm:text-lg md:text-xl;
  }

  .main-heading {
    @apply text-4xl ms:text-5xl sm:text-6xl font-light sm:leading-[90px];
  }

  .heading-2 {
    @apply text-xl font-bold;
  }

  .section-title {
    @apply flex flex-col gap-2.5 items-center relative py-10 ms:py-14 sm:py-20 font-light text-center;
  }

  .section-title h3 {
    @apply relative capitalize;
  }

  .section-title span {
    @apply absolute -translate-x-1/2 left-1/2 top-4 ms:top-6 sm:top-8 w-full text-5xl ms:text-7xl sm:text-8xl text-[#00263a08];
  }

  .card-container {
    @apply grid gap-10 ms:px-2 ms:gap-8 sm:px-8 lg:px-20;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  }

  .feature-card {
    @apply border text-center items-center flex flex-col sm:items-start sm:text-left gap-5 py-8 px-3 ms:py-12 rounded-[2.25rem] bg-white shadow-lg sm:px-8 md:px-10;
  }

  .globe-svg {
    fill: #00263a;
  }

  @media (min-width: 1024px) {
    .globe-svg {
      fill: #137054;
    }
  }
}

@layer utilities {
  @media (min-width: 1024px) {
    ._visible {
      visibility: visible !important;
    }
  }
}
